* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #F2F2F3;
}

/*Header*/
.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 466px;
	align-items: center;
	background: url('img/header/bg_ellipse.svg');
	background-repeat: no-repeat;
}

.logo {
	width: 150px;
	height: 29px;
	display: flex;
	align-items: center;
	gap: 7.16px;
}

.logo__text {
	color: #ffffff;
	width: 114.39px;
	height: 18.36px;
}

.logo__img {
	width: 28.77px;
	height: 27.66px;
}

.content {
	width: 784px;
	height: 326px;
	display: flex;
	gap: 21px;
}

.content__img{
	width: 326px;
	height: 326px;
}

.content__text {
	width: 437px;
	height: 194px;
	margin-top: 46px;
	display: flex;
	flex-direction: column;
	gap: 52px;
}

.content__text-heading {
	width: 437px;
	height: 120px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 60px;
	color: #ffffff;
}

.content__text-heading_active {
	color: #FF5C00;
}

.content__text-text {
	width: 223px;
	height: 22px;
	font-family: Nunito;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

/*Main*/
.categories {
	margin-top: 40px;
	margin-left: 75px;
	margin-bottom: 50px;
	display: flex;
	gap: 24px;
	align-items: center;
	font-family: Nunito;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.categories__tags {
	background: #ffffff;
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 8px 14px;
	gap: 8px;
}

.categories__tags_active {
	background: #FFAB08;
	border-radius: 50px;
	display: flex;
	padding: 8px 14px;
	gap: 8px;
}

.main-space__heading {
	width: 166px;
	height: 44px;
	margin-left: 405px;
	margin-bottom: 24px;
	font-family: Nunito;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
}

.main-space {
	width: 100%;
	height: 1024px;
	display: flex;
	padding: 0 75px 0 75px;
	gap: 30px;
}

.main-space__chart {
	width: 300px;
	height: 467px;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	border-radius: 18px;
}

.main-space__burgers {
	width: 960px;
	height: 952px;
}